# Virtual environments
.venv/
env/
venv/
ENV/

# Python caching
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
coverage.xml

# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Project specific
data/
outputs/
{src,data/
